/*body*/
.hide {display: none !important}
[data-region="body"] {padding: 0 16px}
.noWrap {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
/*end body*/

/*typograf*/
.title {font-size: 1.3em; margin: 8px 0; display: block;}
/*typograf*/

/*drawer*/
.xin-drawer {border: 0; box-shadow: 0 1px 1px #ddd;}
.xin-drawer [data-region="body"] {margin-top: 0; padding: 0}
.box-user {margin-bottom: 8px; box-shadow: 0 1px 1px #ddd; background-color: #f7fafd}
div.img-user {width: 60px;height: 60px;display: block;border-radius: 50%;margin: 16px; background: url(../img/2014-01-28.jpg); background-size: cover; background-position: center; background-repeat: no-repeat}
.name-user {padding: 16px; color: #575a5e;}
.name-user i {float: right}
.xin-drawer .xin-list li {border-top: 0; list-style: none; padding: 13px 16px}
.xin-drawer .xin-list li a {line-height: 170%;padding: 0; color: #575a5e}
.xin-drawer .xin-list li i {float: left; padding-right: 44px;font-size: 1.5em;color: #737373;}
.menu-drawer {border-bottom: 1px solid #eee; padding-bottom: 8px}
.list-drawer {padding-top: 8px}
.list-drawer li {height: 48px;}
.xin-drawer ul.list-drawer li i {padding: 0;float: right;font-style: inherit;max-width: 21px;width: 21px;text-align: center;font-size: 0.9em;color: #fff;background-color: #aaa;border-radius: 50%;display: table;}
/*end drawer*/

/*form*/
input[type="file"], input[type="submit"], input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select, span.field {margin-bottom: 10px}
/*end form*/

/*intro*/
.intro div[data-region="footer"] {position: absolute; bottom: 0; left: 0; right: 0}
.intro .descIntro {padding: 20px 0}
.intro div[data-region="footer"] .span-2 a {text-align: center; padding: 10px; display: inherit}
.intro div[data-region="footer"] .span-8 { padding: 10px}
.intro div[data-region="footer"] ul {display: table; margin: 0 auto}
.intro div[data-region="footer"] ul li {  list-style:none; display: list-item; height: 5px; width: 5px; border: 1px solid #08c; float: left; border-radius: 50%; margin: 6px;}
.intro div[data-region="footer"] ul li.active {background-color: #08c}
/*end intro*/

/*login*/
div[data-uri="signup"] {background: url(../img/consolidated_wealth.jpg) center; background-size: cover;}
div[data-uri="login"] {display: table !important; background: url(../img/consolidated_wealth.jpg) center; background-size: cover;}
div[data-uri="login"] div[data-region="body"] {display: table-cell; vertical-align: middle; padding: 0 20px}
div[data-uri="signup"] form {padding: 20px; width: 100%; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; margin: 0 auto}
div[data-uri="signup"] form,
#login {background: rgba(249, 249, 249, 0.95); border: none; max-width: 420px}
a.login {display: table; margin: 0 auto}
/*end login*/

/*login*/
#login {padding: 10px 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px;}
#login input[type="text"], #login input[type="password"] {margin: 0;padding: 12px; border-radius: 0}
#login input[type="password"]{ border-top: 0; margin-bottom: 10px; border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px}
#login input[type="text"] {border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0;   }
#login .forgotPassword {margin-bottom: 10px;}
#login .placeholder {margin-bottom: 10px;}
#login .xn {font-size: inherit; width: inherit}
#login .connectTo { color: #fff; border: 0; position: relative; padding: 10px}
#login .connectTo i {position: absolute;left: 0;display: inline-block;width: 40px;top: 0;padding: 12px;font-size: 1.4em;}
#login .twitter {background: #5EA9DD;}
#login .facebook {background: #3B5998; margin-bottom: 10px}
/*end login*/

/*home*/
.editArisan, .addMember {position: fixed}
.editArisan {right: 16px; bottom: 86px}
.addMember {right: 76px;bottom: 56px;}
.circleButton, #add, #editArisan {position: fixed; bottom: 16px; right: 16px}
#add a:hover, #editArisan a:hover{box-shadow: 0 0px 8px rgba(0,0,0,0.12);}
#add a, #editArisan a, .editArisan a, .addMember a, .circleButton a{ padding: 16px 17px;border-radius: 50%;background: #92D1FF;box-shadow: 0 0px 2px rgba(0,0,0,0.12); cursor:pointer}

/*end home*/

/*heade*/
.navbar {padding: 11px; box-shadow: 0 0 2px rgba(0,0,0,0.12); background-color: inherit}
.navbar .icon-menu i {font-size: 0.8em}
.navbar .back-button {float: left; width: 61px;}
.navbar h6.label {text-align: inherit}
/*end heade*/


/*detail*/
.imgDetail {height: 100px;width: 100px;background: url(../../../../vendor/xin-theme/img/arisan2.jpg) no-repeat;background-size: cover;border-radius: 50%;margin: 0 auto;}
/*end detail*/

/*tos page*/
#tos {  position: fixed;right: 10px;top: 10px;max-width: 220px;padding: 14px;border-radius: 5px;background-color: #333;color: #fff;line-height: 120%;z-index: 99;box-shadow: 0 0 8px #000;}
#tos strong {margin-bottom: 10px; display: block}
#tos p {line-height: 120%; }
#tos .tosClose {position: absolute;background-color: #EC3C3C;border-radius: 50%;font-size: 24px;padding: 3px;text-align: center;right: 0px;display: block;width: 24px;height: 24px;overflow: hidden;transform: rotate(45deg);top: 0px;cursor: pointerx}

/*tos page*/

/*register page*/
#signup {text-align: center;margin: 0 auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px;}
#signup input[type="text"] {margin: 0;padding: 12px; border-radius: 0}
#signup input[type="password"] {margin: 0;padding: 12px; border-radius: 0 0 0 5px; -webkit-border-radius: 0 0 0 5px; -o-border-radius: 0 0 0 5px; -ms-border-radius: 0 0 0 5px; }
#signup input.password { border-radius: 0 0 0 5px; -webkit-border-radius: 0 0 0 5px; -o-border-radius: 0 0 0 5px; -ms-border-radius: 0 0 0 5px; }
#signup input.password2 { border-radius: 0 0 5px 0; -webkit-border-radius: 0 0 5px 0; -o-border-radius: 0 0 5px 0; -ms-border-radius: 0 0 5px 0; }
#signup input.inputNext {border-top: 0}
#signup input.inputNext.inputNexts {border-left: 0}
#signup input.inputFirst {border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; }
#signup input[type="submit"] {margin: 10px auto; font-size: 16px;}
/*end register page*/

/*tabstrip*/
.tabstrip .tabs {padding:10px 0}
/*end tabstrip*/

/*list View*/
ul.listing .thumb-img {width: 46px;height: 46px;background-size: cover;background-repeat: no-repeat;float: left;background-position: center;border-radius: 50%;margin-right: 16px;}
ul.listing li {list-style: none; clear: both; padding: 16px 0;}
ul.listing li .title {margin: 0; font-size: 1em}
/*end list View*/

/*title*/
h1.titleHead {font-size: 1.1em;padding: 13px 0;margin: 0;}
/*title*/
